<md-toolbar class="md-headline">
    <div class="md-toolbar-tools">
        <md-button
            ng-click="toggleLeftMenu()">
            <i class="material-icons">menu</i>
        </md-button>
        <span>Hello in this simple chat...</span>
    </div>
</md-toolbar>
<section layout="row">

    <md-sidenav md-component-id="left" class="md-sidenav-left">
        <md-button href="#/login">Change username</md-button>
    </md-sidenav>

    <md-content flex="100">
        <div layout="row">
            <div layout="column" flex="60">
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="message in chatData.messages">
                        <div class="md-list-item-text">
                            <strong>{{message.username}}: </strong>{{message.text}}
                        </div>
                    </md-list-item>
                </md-list>

                <md-input-container>
                    <input ng-model="data.currentMessage"/>
                </md-input-container>
                <md-button
                    ng-click="sendMessage()">Send message</md-button>
            </div>
            <div layout="column" flex="40">
                <strong>List of users</strong>
                <p ng-repeat="name in chatData.usersList">
                    {{name}}
                </p>
            </div>
        </div>
    </md-content>
</section>